

/* Screen Nav */
@media screen and (max-width: 700px) {
	#sm-nav {
		font-size: 3em;
	}

	.collapse-header .menu .collapse-nav {
		flex-flow: column;
	}
	.collapse-header .button-container {
		width: 40px;
		height: 32px;
		right: 80px;
		top: 40px;
	}
	.collapse-header .button-container span {
		height: 3px;
		background: #aaa;
		transition: all 0.3s ease;
	}

}
