
:root{
	--main-color: #29b5f0;
	--button-color: #4169e1;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: contrast(120%);
	background-color: black;
	background-image: radial-gradient(1600px at 60% 110%, rgba(12, 16, 43, 1) 10%, #0c102b 80%);
}

.text-grey { color: #222; }
.text-white { color: #fff; }
.text-off-white { color: #ddd; }
.hr-white {
  height: 1px;
  background-color: #ccc;
  border: none;
}

/* Main View */
#main-view {
	width: 100%;
	height: 100%;
	position: absolute!important;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Header */
.collapse-header {
	position: fixed;
	z-index: 100;
}
.collapse-header .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	opacity: 0;
	background: rgba(41, 207, 245, 0.6);
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	overflow: visible;
}
.collapse-header .menu .collapse-nav {
	display: inline-flex;
	line-height: 65px;
	padding-bottom: 5px;
	margin-left: 30vw;
}
.collapse-header .menu .collapse-nav a {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-weight: 700;
	margin-left: 50px;
	margin-top: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	transition: all 0.25s ease;
}
.collapse-header .menu .collapse-nav a:hover {
	border-bottom: 2px solid white;
}
.collapse-header .menu.open {
	width: 100%;
	opacity: 1;
	margin-left: 40px;
}
.collapse-header .button-container {
	position: fixed;
	width: 30px;
	height: 22px;
	right: 80px;
	top: 40px;
	cursor: pointer;
}
.collapse-header .button-container span {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #aaa;
	transition: all 0.3s ease;
}
.button-container .top { top: 0px; }
.button-container .middle { top: 10px; }
.button-container .bottom { top: 20px; }
.button-container:hover .top {	top: 2px; }
.button-container:hover .bottom { top: 18px; }

.button-container.active .top { background: white; transform: translate(0px, 10px) rotate(-405deg); }
.button-container.active .middle {	opacity: 0; }
.button-container.active .bottom { background: white; transform: translate(0px, -10px) rotate(-495deg); }
.button-container.active:hover .top { top: 0px; }
.button-container.active:hover .bottom { top: 20px; }


/* Left Navigation Panel */
.left-nav-panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	bottom: 0;
}
.left-nav-panel:before {
	content: "";
	display: inline-block;
	height: 100%;
	margin-left: -4px;
	vertical-align: middle;
}
.left-nav-panel .navigation-container {
	text-align: right;
	display: inline-block;
	z-index: 5;
	vertical-align: middle;
}
.left-nav-panel .navigation-container .navigator-wrapper span:after,
.left-nav-panel .navigation-container .navigator-wrapper > * {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.left-nav-panel .navigation-container .navigator-wrapper span:after {
	content: "";
	width: 0;
	position: absolute;
	height: 1px;
	background-color: #f3a01f;
	right: -3px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.left-nav-panel .navigation-container .navigator-wrapper {
	display: block;
	padding: 10px 0;
	width: 45px;
	position: relative;
}
.left-nav-panel .navigation-container .navigator-wrapper .navigator {
	position: relative;
	display: inline-block;
}
.left-nav-panel .navigation-container .navigator-wrapper .dot {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1.5px solid #fff;
	cursor: pointer;
}
.left-nav-panel .navigation-container .navigator-wrapper .selected {
	background: #fff;
}


/* Sections */
.section .fp-tableCell {
	width: 100%;
	display: flex;
	align-items: center;
}

/*.one,
.three {
  background: linear-gradient(-45deg, transparent 25%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, transparent 75%, transparent 100%);
}
.two {
  background: linear-gradient(45deg, transparent 25%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 75%, transparent 75%, transparent 100%);
  text-align: right;
}
*/

#main-view .container {
	width: 65%;
	margin: auto;
	border-radius: 25px;
	padding: 25px;
	min-height: 400px;
}
.blur-bg {
	width: 65%;
	margin: auto;
	border-radius: 25px;
	padding: 25px;
	height: 400px;
	/*background: rgba(20,20,20,.6);*/
	/*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
	background-color: rgba(15, 15, 15, .60);
	backdrop-filter: blur(25px);
}
#main-view .container .card-img {
	width: 300px;
	height: 300px;
	flex-shrink: 0;
	/*box-shadow: 4px 13px 30px 1px rgba(250, 250, 250, 0.2);*/
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}
#main-view .container .card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 20px;
}
#main-view .container .card-content {
	padding-right: 25px;
	text-align: left;
	color: #fff;
}


/*---------------------------------------------------*/
/* HOME
/*---------------------------------------------------*/

.home{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
}
.home .name{
	color: #fff;
	font-family: 'Quantico', sans-serif!important;
	font-size: 64px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.home .name .coloring {
	color: rgba(255,255,255,.8);
}
.home .job, .home .job span{
	font-size: 36px;
	font-weight: 500;
	color: #A2A2A2;
	margin-bottom: 40px;
}
.home .job b{
	color: #fff;
	font-weight: 600;
}
.home_button{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 5;
}
.home_button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background-color: var(--button-color);
	padding: 10px 40px;
	text-align: center;
	border-radius: 50px;
	font-family: 'Open Sans', sans-serif;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.home_button a:hover{
	background-color: #fff;
	color: #000;
}
.home_button.full a{display: block;}


.contact-icons {
	display: block;
	position: relative;
	background: rgba(0,0,0,0);
	border: none;
	padding: 1rem 1.5rem;
}

/* Animations */
@-webkit-keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);

display: block;
position: relative;		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@-webkit-keyframes roll-out-blurred-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px) rotate(720deg);
		transform: translateX(1000px) rotate(720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
}
@keyframes roll-out-blurred-right {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px) rotate(720deg);
		transform: translateX(1000px) rotate(720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

/* Waves Background */
html, body { height: 100%; }
body { margin: 0; background: #000; }
canvas { display: block; }
.waves { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }


/* Responsive CSS Starts */

/* Screen Nav */
@media screen and (max-width: 730px) {
	#sm-nav {
		font-size: 3em;
	}

	.menu .collapse-nav {
		flex-flow: column;
		display: grid;
	}
	.collapse-header .button-container {
		width: 40px;
		height: 35px;
		right: 50px;
		top: 40px;
	}
	.collapse-header .button-container span {
		height: 2px;
		background: #aaa;
		transition: all 0.3s ease;
	}
	.collapse-header .menu .collapse-nav {
		margin-left: 10px;
		padding: 20px 0;
	}
	.button-container:hover .top {	top: 0px; }
	.button-container:hover .bottom { top: 20px; }

}



/* External Libraries  */
/* Font Awesome v4.7.0 */
@font-face {font-family:'FontAwesome', sans-serif;src: url('fa.woff2') format('woff2');font-weight: normal;font-style: normal;font-display:swap;}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-file-text:before{content:"\f15c"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin-square:before{content:"\f08c"}.fa-facebook-square:before{content:"\f082"}.fa-twitter-square:before{content:"\f081"}.fa-github-square:before{content:"\f092"}.fa-youtube-play:before{content:"\f16a"}.fa-instagram:before{content:"\f16d"}
/* Font Awesome End  */
