
/* Owl Carousel */
@media {
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper{display:none;position:relative}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-buttons div,.owl-controls .owl-page{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.grabbing{cursor:url(grabbing.png) 8 8,move}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
}

/* General */
@media {
	* {
		font-family: 'Ubuntu', sans-serif;
		transition: all 0.2s ease-in-out;
	}
	html,
	body {
		width: 100%;
		overflow-x: hidden;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		line-height: 1.5;
	}
	.no_all { padding: 0; margin: 0; }
	.no_pad { padding: 0; }
	.no_marg { margin: 0; }

	a:hover,a:active {	text-decoration:none; }
	button:focus{ outline:none; }
	ul { list-style: none; }
	a[href^="http"]:empty::before {
		content: attr(href);
	}
}

/* Header Code Start */
@media {
	.logo {
		width: auto;
		max-height: 60px;
		position: fixed;
		left: 0;
		background-color: rgba(255,255,255,0.95);
		z-index: 5;
		padding: 0px 20px 5px 10px;
		margin: 0px 10px 10px 5em;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		/*border: 0.1px solid #919191;*/
		box-shadow: 0 6px 8px -4px #222;
	}

	/* This is the trigger button */
	.nav-logo {
		font-size: 24px;
		position: fixed;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		margin: 0px;
	}
	.nav-trigger {
		background: #002435;
		cursor: pointer;
		font-size: 34px;
		position: absolute;
		right: 0;
		width: 55px;
		height: 55px;
		vertical-align: central;
		padding: 3px 5px 5px 12px;
		margin: 0;
		z-index: 5;
		transition: transform .3s ease-in-out;
		-webkit-transition: transform .3s ease-in-out;
		-moz-transition: transform .3s ease-in-out;
	}
	.nav-trigger:hover {
		background: #002435;
		padding: 5px 10px;
		padding-left: 12px;
		transform: rotate(90deg);
		transition: transform .3s ease-in-out;
		-webkit-transition: transform .3s ease-in-out;
		-moz-transition: transform .3s ease-in-out;
	}
	.nav-trigger i {
		color: #fff;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	#header .head_btn { position: fixed; }
	
	#header {
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
	}
	#menu {
		position: fixed !important;
		font-size: 20px;
	}
	#menu label {
		padding: 0 0.25em;
		font: 3.125em/1.375em Arial
	}
	#menu .sub-nav .toggle {
		padding: 0 0.3125em;
		top: 0;
		-webkit-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1)
	}
	#header label:hover,
	#menu label:hover span {
		color: #fff;
		padding-top: 3px;
	}
	#main-nav-check,
	#menu .sub-nav-check {
		position: absolute;
		display: none;
	}
	
	#menu, #menu .sub-nav {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 13.75em;
		z-index: 9;
		left: -13.75em;
		max-width: 100%;
	}	
	#menu, #menu .sub-nav {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: -webkit-transform .25s ease;
		transition: transform .25s ease
	}

	#menu ul {
		background: none;
		line-height: 2.75em;
		text-decoration: none;
		padding: 0;
		list-style: none;
		margin-top: 4.3em;
		border-top: 1px solid #444
	}
	#menu li {
		border-bottom: 1px solid #444
	}
	#menu li a {
		background: #002435;
		display: block;
		font-size: 0.875em;
		padding-left: 1.5em;
		color: #fff;
		text-decoration: none
	}	
	#menu li a:hover,
	#menu .toggle-sub:hover { background: #002435; }
	#menu .sub-nav { margin-top: -1px; }	
	#menu .sub-heading {
		margin-top: 4.0625em;
		padding-left: 1.3125em;
		color: #ddd;
	}
	#menu .sub-heading:before {
		content: "";
		display: block;
		height: 1px;
		width: 13.75em;
		margin-left: -1.3125em;
		background: #ddd;
	}

	#menu .toggle-sub {
		font: bold 1em/2.75em Arial;
		color: #fff;
		background: #002435;
		float: right;
		margin: 0;
		margin-top: -2.75em;
		width: 2.25em;
		border-left: 1px solid #444;
		cursor: pointer;
		text-align: center
	}
	#menu .toggle-sub span {
		font-size: 1.8em;
		vertical-align: central;
	}
	.toggle {
		position: absolute;
		right: 0.15em;
		cursor: pointer;
		color: #fff;
	}
	.toggle span { color: #fff; }
	.container, #menu,
	#menu .sub-nav {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	
	/* #### - define ids of animated container, menu and sub-menus here - #### */
	#main-nav-check:checked ~ .container,
	#main-nav-check:checked ~ #menu,
	#menu .sub-nav-check:checked ~ [id$="-sub"]
	/* matches all elements with id ending "-sub" */
	{
		-webkit-transform: translate(13.75em, 0);
		-ms-transform: translate(13.75em, 0);
		transform: translate(13.75em, 0);
	}

	#menu, #fast-apps-sub { background: rgba(178,178,178,0.5); }
	#close_b, #close_b1 { color: #111; }
	.sub_h { background: #002435; }
	.sub_h #close_b1 { margin-right: -4px; }
}

/* Home Page */
@media {
	#slider {
		width: 100%;
		height: 480px;
		position: relative;
	}	
	#slider img {
		height: 480px;
		width: 100%;
		padding: 0;
		margin: 0;
	}	
	#slider .back {
		width: 100%;
	}
	#slider .item {
		min-height: 500px;
		height: 100%;
	}

	.banner {
		width: 100%;
		min-height: 60px;
		color: #fff;
		background-color: #002435;
		text-align: center;
		padding: 3px 0 5px;
	}
	.banner h1 {
		color: #fff;
		vertical-align: central;
		height: 100%;
	}
	
	h1 {
		font-size: 32px;
		font-weight: bolder;
		color: #FFFFFF;
	}

	#campuses .suy_vid .vidk {
		width: 100%;
		max-height: 80px;
		text-align: center;
		padding: 5px;
		color: #ffffff;
		vertical-align: central;
	}
	
	#campuses .suy_all .hvr_1 {
		background-color: rgba(0, 149, 55, 0.8);
		padding: 0;
	}
	#campuses .suy_all .hvr_2 {
		background-color: rgba(255, 204, 17, 0.8);
	}
	#campuses .suy_all .hvr_3 {
		background-color: rgba(236, 9, 18, 0.8);
	}
	#campuses .suy_all .hvr_4 {
		background-color: rgba(1, 141, 216, 0.8);
	}
	
	#campuses .suy_all {
		background-origin: centre;
		background-size: cover;
		height: 200px;
		width: 100%;
		padding-top: 10px;
		border-radius: 15px;
		transition: all 0.3s ease-in-out;
	}
	#campuses .suy_all:hover {
		transform: scale(1.03);
		transition: all 0.3s ease-in-out;
	}
	#campuses .suy_all h2 { padding: 8px 0; }
	
	#campuses .suy_vid {
		background-image: url(../images/scl3.jpg);
	}
	#campuses .suy_guru {
		background-image: url(../images/scl5.jpg);
	}
	#campuses .suy_cs {
		background-image: url(../images/scl6.jpg);
	}
	#campuses .suy_jr {
		background-image: url(../images/school1.jpg);
	}
	
	#campuses h1 {
		text-align: center;
		color: #fff;
	}
	#campuses h2 {
		text-align: center;
		color: #fff;
		font-size:20px;
		font-weight:bolder;
	}
	#campuses .pad{
		padding: 10px 5px;
	}	
	.border {
		border: 2px solid #002435;
		height: 80px;
		width: 80px;
	}

	#message { padding-bottom: 20px; }
	#message .marg { margin: 10px 0; }
	#message .marg:hover .border { background-color: #002435; }
	#message .marg:hover .border h1 { color: #fff; }
	#message .marg:hover .border h3 { color: #fff; }
	#message .marg .border h1 {
		color: #002435;
		font-size: 40px;
		margin: 0;
		padding: 2px;
	}
	#message .marg .border h3 {
		margin: 0;
		font-weight: bolder;
		color: #951220;
	}
	#message p {
		font-size: 18px;
		color: #002435;
		font-weight: bolder;
	}
	#message a {
		color: #000;
		font-size: 16px;
		font-weight: bolder;
		text-decoration: none;
	}
	#message a:hover { color: #951220; }
	#message .marg-bot { margin-bottom: 30px; }
	#message .sk_h1 {
		font-size: 40px;
		vertical-align: central;
		padding: 10px 20px 0px;
	}

	.datesk { padding-bottom: 4px; }
	.datesk p { margin: 0; }

	.afl_h { width: 100%; }
	.afl_img { margin-top: 60px; }
	.afl_img img {
		height: 100%;
		width: auto;
		margin: auto;
	}

	#gallery {
		width: 100%;
		display: inline;
	}	
	#gallery .glry {
		background-color: #951220;
		height: 200px;
		padding-top: 60px;
	}
	
	#last h1 { color: #002435; }	
	#last .fa { margin: 40px 30px; }
	#last .fa-face { color: #3b5998; }
	#last .fa-twitter { color: #00aced; }	
	#last .fa-youtube { color: #bb0000; }
	#last .fa-google-plus { color: #dd4b39; }
}

/* Footer */
@media {
	footer {
		background: #002435;
		width: 100%;
		color: #fff;
		letter-spacing: 1px;
	}
	footer a { color: #fff; }
	footer a:hover { color: #fff; }
	#heart {
		position: relative;
		animation: heartbeat 1s infinite;
		color: rgba(180, 22, 25, 1.00);
	}
}

/* Main Tiles */
@media {
	.scl_tiles .tile_main {
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 2.5px solid #fff;
	}
	.scl_tiles div, .scl_tiles img { height: 250px; }
	.scl_tiles .tile_main img { width: 100%; }
	.scl_tiles .tile_main:hover img {
		transform: scale(1.1);
		transition: all 0.3s ease-in-out;
	}
	.scl_tiles .tile_main h1 {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -10px;
		font-weight: bolder;
		padding: 3px 0 3px 15px;
		text-align: left;
		z-index: 1;
	}	
	.scl_tiles h1, .scl_tiles h2 { color: #fff; }	
	.tile_opt { border: 2.5px solid #fff; }
}

/* Buttons & Tiles */
@media {
	.btn_my {
		background-color: transparent;
		border: 3px solid #fff;
		border-radius: 10px;
		display: block;
		margin: 85px auto;
		width: 80%;
		min-height: 80px;
	}
	.btn_my h1 { color: #fff !important; margin: 8px 0; }
	.btn_my:hover { box-shadow: 0px 0px 4px 2px #bbb; }

	.tile_bck { height: 250px; }
	.tile_red, .btn_red { background-color: #951220; }
	.tile_blue, .btn_blue { background-color: #002435; }
	.tile_grey, .btn_grey { background-color: #444; }
	
	.btn_cir {
		background-color: #178DB9;
		border: 3px solid #fff;
		border-radius: 10px;
		display: block;
		margin: 5vh 0 0 35%;
		padding: 10px;
		color: #fff;
		transition: all 0.3s ease-in-out;
	}
	.btn_cir h2 {
		margin: 5px 8px;
	}
	.btn_cir:hover, .btn_cir:focus {
		background-color: #fff;
		border: 3px solid #178db9;
		transition: all 0.2s ease-in-out;
	}
	.btn_cir:hover h2, .btn_cir:focus h2 { color: #178db9; }
}

/* Colors */
@media {
	.bck_sg .tile_main h1, .col_sg { background-color: rgba(0, 149, 55, 0.7); }
	.bck_sv .tile_main h1, .col_sv { background-color: rgba(255, 204, 17, 0.7); }
	.bck_sj .tile_main h1, .col_sj { background-color: rgba(134, 8, 13, 0.7); }
	.bck_sc .tile_main h1, .col_sc { background-color: rgba(1, 141, 216, 0.7); }
	
	.all_sg { color: rgba(0, 149, 55, 0.8); }
	.all_sv { color: rgba(255, 204, 17, 0.8); }
	.all_sj { color: rgba(134, 8, 13, 0.80); }
	.all_sc { color: rgba(1, 141, 216, 0.8); }
}


/*################  PAGES #####################*/

#kala, #adm, #circ, #results, #contact {
	min-height: 95vh;
}

/* About */
@media {
	#about .pad{
		padding: 0px 50px;
	}
	#about h1 {
		font-size: 40px;
		font-weight: bolder;
		margin-top: 70px;
	}
	#about p {
		color: #666;
	}
	#about img {
		width: 100%;
		height: auto;
	}
	#stats {
		width: 100%;
	}
	#stats .container-fluid {
		padding: 0;
		background: url(../images/college_s.jpg) repeat;
		max-height: 200px;
	}
	#stats .grn-layer{
		margin: 0;
		width: 100%;
		vertical-align: central;
		padding: 20px 10px;
		border-top: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}
	#stats .grn-layer h1{
		color: #fff;
		font-size: 80px;
		font-weight: bolder;
		margin: 0;
	}
	#stats .grn-layer p {
		color: #fff;
		font-size: 1.5em;
		padding: 0;
	}
	#stats .grn-layer span {
		font-weight: bold;
	}
}

/* Contact */
@media {
	#contact h2{
		margin: 0px 0px 0px 20px;
		color: #002435;
		font-weight: bolder;
	}
	#contact input, textarea{
		border: none;
		border-bottom: 1px solid #002435;
		padding: 8px;
		height: 40px;
		margin-top: 15px;
		font-size: 16px;
		color: #002435;
		width: 100%;
	}
	#contact textarea{ height: 80px; }
	#contact input:focus, #contact textarea:focus {
		outline: none;
		box-shadow: 0 6px 8px -6px #222;
	}
	
	#contact button {
		background-color: #951220;
		color: #fff;
		margin: 6px 0px 10px;
		padding: 5px 10px;
		font-size: 17px;
		border: 5px solid rgba(255,255,255, 0.0);
		border-radius: 2px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-backface-visibility: hidden;
	}
	#contact button:hover, #contact button:focus {
		outline: none;
		background-color: #fff;
		color: #951220;
		padding: 5px 15px;
		border: 5px solid #951220;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	
	#contact .contact_addr {
		margin-top: 10px;
	}
	#contact .contact_addr h3 {
		font-weight: bolder;
		margin: 8px;
	}
	#contact .contact_addr h4 {
		margin: 5px;
	}
	#contact .contact_addr .fa-phone { margin-left: 15px; }
	
	hr.mehr {
		margin: 8px auto;
		width: 60%;
		border-top: 1px solid #002435;
	}
	
	#map{
		height:300px;
		width:100%;
	}
}

/* Board Of Directors */
@media {
	#board img{
		width: 100%;
		height: 200px;
		border-radius: 8px;
		padding-bottom: 8px;
	}
	#board .card{
		padding: 20px;
		background-color: #eee;
		height: 420px;
		margin: 10px;
	}
	#board .card h4{
		color: #002435;
		font-size: 22px;
		font-weight: bolder;
		margin: 5px 0px;
	}
	#board .card h3{
		color: #444;
		font-size: 18px;
		font-weight: bolder;
		margin: 5px 0px;
		clear: both;
	}
	#board h1{
		color: #002435;
		font-size: 36px;
		font-weight: bolder;
	}
	.brd{
		border: 2px solid #951220;
		margin: auto;
		width: 10%;
	}
	#trusties .card{
		padding: 20px;
		background-color: #eee;
		height: 200px;
		margin: 0px 0px 20px 0px;
	}
}

/* Infra */
@media {
	#infra img {
	    height: 350px;
	    width: 100%;
		border-radius: 8px;
	}
	#infra h1 {
	    color: #002435;
	    text-align: center;
	}
	#infra .odd {
	    padding: 0px;
	}
	#infra .even {
	    background-color: #F1F1F1;
	    padding: 0px;
	}
	#infra .odd h1 {
	    color: #951220;
	}
	#infra .text {
	    padding: 30px 30px;
	}
	#infra .h-strip {
	    background-color: #951220;
	    padding: 20px;
	}
	#infra .h-strip h1 {
	    color: #fff;
	    margin-top: 20px;
	}
}

/* kala */
@media {
	#kala img {
	    height: 100%;
	    width: 100%;
	    padding: 5px;
	}
	#kala h1, #kala h3, #kala h4 {
	    color: #951220;
		text-align: center;
	}
	#kala h3, #kala h4 { text-align: left; }
	#kala ul { list-style: disc; }
	#kala ul li { font-size: 18px; }
	#kala p {
	    color: #666;
	    font-size: 16px;
	}
	#kala .text {
	    padding: 50px 30px;
	}
	img_pad {
	    padding: 5px;
	    margin: 0px;
	}
	#kala .btn_adm {
		background: #951220;
		margin: auto;
		margin-top: 20px;
		border: 3px solid #fff;
		border-radius: 10px;
		display: block;
		width: 50%;
	}
	#kala .btn_adm h1 { color: #fff; margin: 8px; }

}

/* Circulars */
@media {
	#circ .col-md-6 { margin-top: 10px; }
	.inner_download {
		border: 2px solid #002435;
		border-radius: 5px;
	}
	.inner_link_head h3{
		margin: 10px;
		color: #444;
		font-size: 1.4em;
		text-align: start;
		cursor: default;
	}
	.inner_link {
		margin-top: 10px;
		color: #002435;
	}
	.inner_link h4 {
		display: inline;
		margin: 5px;
		text-align: center;
	}
	.inner_link a {
		text-align: right;
		display: inline-block;
		margin: 10px;
		padding-left: 5px;
		right: 0;
	}
	.inner_link a span { color: #002435; }
}

/* Results */
@media {
	#results select{
		border: 1px solid #002435;
		height: 50px;
		border-radius: 15px;
		font-size: 18px;
		color: #951220;
		background-color:transparent;
		padding-right: 15px;
	}
	#results option{
		font-size: 18px;
		width: 100%;
		color: #000;
		border: none;
		background-color: #fff;
	}
	#results h1{
		margin: 0px 0px 0px 5px;
		color: #002435;
		font-size: 36px;
		font-weight: bolder;
	}
	
	#results button{
		background-color:#951220;
		color: #fff;
		margin: 5px 0px;
		padding: 5px 10px;
		border-radius: 13px;
		font-size: 22px;
		border: 5px solid rgba(255,255,255, 0.0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-backface-visibility: hidden;
	}
	#results button:hover {
		background-color: #fff;
		color: #951220;
		padding: 5px 20px;
		border: 5px solid #951220;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	select{
		margin: 20px 0px;
	}
	select.form-control {
		box-shadow: 1px 1px 1px #000;
	}
}

/* Faculty */
@media {
	#faculty .marg {
	    padding: 10px;
	}
	#faculty .f_card {
	    border: 1px solid #8E8E8E;
	    box-shadow: 1px 1px 1px #8E8E8E;
	    border-radius: 5px;
	    padding: 5px;
	}
	#faculty img {
	    width: 100%;
	    height: 200px;
	    border-radius: 8px;
	}
	#faculty .f_card h3, h1 {
	    color: #002435;
	    font-weight: bolder;
	}
	#faculty .f_card h4 {
	    color: #808080;
	    font-size: 15px;
	    font-weight: 600;
	    margin: 3px;
	}
	#faculty .icon {
	    margin-right: 10px;
	}
	#faculty li {
	    padding: 5px 0px;
	}
}

/* News_Events */
@media {
	#news img {
	    width: 100%;
	    height: auto;
	    padding: 5px;
	}
	#news .brdr {
	    border: 1px solid #ABABAB;
	    border-radius: 5px;
	    padding: 10px;
	    margin-bottom: 30px;
	    box-shadow: 1px 1px 1px #666;
	}
	#news h4 {
	    font-weight: bolder;
	    color: #002435;
	}
	#news h5 {
	    font-weight: bolder;
	    color: #002435;
	    margin-top: 0px;
	    text-align: right;
	}
	#news a {
	    font-weight: bolder;
	    color: #002435;
	    margin-top: 5px;
	    text-align: right;
	}
	#news .icon {
	    font-weight: bolder;
	    padding: 5px;
	    color: #951220;
	}
	.cls_more {
	    font-weight: 600;
	    color: #002435;
	    cursor: pointer;
	}
}

/*###########################*/ /*RESPONSIVE STARTS*/
@media (min-width: 1400px) {
	#slider { max-height: 600px; }
	#slider img { height: 600px; }
}

@media (min-width: 48em) {
    header li {
        float: left;
    }
    header li a {}
    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon {
        display: none;
    }
	.copyright .ft-rights {
		margin-left: 3em;
	}
	.copyright .ft-devlp {
		float: none;
		text-align: center;		
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* Desktop */
    #message {
        padding-top: 0;
    }

	.copyright .ft-devlp {
		float: none;
		text-align: center;		
	}
	#stats .container-fluid {
		padding: 0;
		background: url(../images/college_s.jpg) repeat;
		max-height: 200px;
	}
	#stats h1,
	#stats .grn-layer h1{
		font-size: 36px;
		margin: 20px 0px 5px 0px;
	}
	#about img{
		margin-top: 75px;
	}
}

@media (max-width: 800px) {

	#slider, #slider img, #slider .item { min-height: 200px; height: 200px; }
    .logo { margin-left: 10px; }
    .nav-trigger {
        padding: 0px 12px;
        float: right;
    }
    .nav-trigger i { padding-top: 13px; }

	.copyright .ft-rights { margin-left: 3em; }
	.copyright .ft-devlp {
		float: none;
		text-align: center;		
	}
	#kala btn_red { width: 90%; }
	#kala img, #infra img {
		height:auto;
		width:100%;
	}

	#faculty .marg { margin-top:10px; }
	#faculty .f_card { margin-bottom:20px; }

	#news .brdr, #news h5 { text-align:center; }
	#news img { margin:auto; }
	#news .pad_bk { margin-bottom: 45px; }

	#stats .container-fluid {
		padding: 0;
		background: url(../images/college_s.jpg) repeat;
		max-height: 200px;
	}
	#stats h1, #stats .grn-layer h1{
		max-height: 200px;
		font-size: 20px;
		margin: 10px 0px 5px 0px;
	}

    #campuses .suy_all {
        height: 250px;
    }
    #message .no_pad .banner { width: 100%; }
    .prcpl {
        padding: 0;
        margin: 0;
    }
    .pr_name_1 { margin-top: 5px; }
    .pr_name_1 h1 { font-size: medium; }
	.sk_h1 { font-size: 18px; }
}

@media (max-width: 480px) {
	#slider {
		width: 100%;
		max-height: 300px;
		padding: 0;
		margin: 0;
		position: relative;
	}	
	#slider img {
		height: 300px;
		width: 100%;
		padding: 0;
		margin: 0;
	}	
	.item {
		min-height: 300px;
		height: 100%;
	}
    .pr_text_1 { padding: 10px; }
	#message .sk_h1 {
		font-size: 28px;
		vertical-align: central;
		padding: 30px 25px 0px;
	}
	.msg_o { padding-top: 5px; }
	.title a h1{
		color: #fff;
		font-size: 20px;
		font-weight: bolder;
		height: 100%;
		padding-top: 10px;
		vertical-align: central;
	}
	#stats .grn-layer{
		margin: 0;
		width: 100%;
		vertical-align: central;
		padding: 20px 10px;
		border-top: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}
	#stats .grn-layer h1{
		color: #fff;
		font-size: 40px;
		font-weight: bolder;
		margin: 0;
	}
	#stats .grn-layer p {
		color: #fff;
		font-size: 20px;
		padding: 0;
	}
}

@media (max-width: 800px) and (orientation: landscape) {
	#menu {
		overflow-y: scroll;
	}
}

@keyframes heartbeat{0%{transform:scale(.75)}20%{transform:scale(1)}40%{transform:scale(.75)}60%{transform:scale(1)}100%,80%{transform:scale(.75)}}
