/* Developed By: Dreamcare Developers
 * url: https://www.facebook.com/dreamcaredevelopers/
*/




/*########################################*/
/*Responsive Queries*/

/* 480px and above */
@media (min-width:1400px) {
}

@media (min-width:768px) and (max-width:1200px) {
}

@media (min-width:480px) and (max-width:767px) {
}

/* 320px to big */
@media (min-width:320px) and (max-width:1023px) {
	header img.top_clouds{
		position: fixed;
		top: -25px;
	}
    .swiper-container {
		height: 80vh;
	}
}

@media (min-width:320px) and (max-width:800px) {
	#slide0 { width: 100%; }
	#slide1 { width: 100%; }
	#slide2 { width: 100%; }
	#slide3 { width: 100%; }
	#slide4 { width: 100%; }
	
	header a .logo {
		padding: 0 5px 0 0;
	}
	header nav label {
		top: 4vh;
		right: 20vw;
	}
	#slide0 .wrapper {
		width: 100%;
		left: 1em;
	}
	#slide0 h1 {
		text-shadow: 0 0 20px rgba(45,75,192,1.00);
		font-size: 2em;
		color: yellow;
	}
	#slide0 .typed-cursor{ font-size: 3em; }

	#slide0 button {
		right: 20%;
		bottom: 30vh;
	}
	#slide0 .bot_head {
		width: 100%;
		position: absolute;
		padding-top: 8px;
	}
	#slide3, #findus, #aboutus {
		background-color: rgba(255,232,29,1.00);
	}
	footer {
		padding-bottom: 8px;
	}
}

@media (min-width:320px) and (max-width:479px) {
}

/*Using max-width*/
@media (max-width: 740px) and (orientation: landscape) {
}

@media (max-width: 480px) {
}

@media (max-width: 319px) {
}




/*End Of File*/