/* Developed By: Dreamcare Developers
 * url: dreamcaredevelopers.com/
*/

@media (max-width:1200px) {
	header .nav_acc { left: 38%; }
	#burger:checked ~ header,
	#burger:checked ~ #main_nav { overflow: scroll; }
	#center_left { float: left; }
	#acc_menu:checked ~ .nav_acc { left: 85%; }
	#headlines .col-md-2 { padding: 0px; }
	#headlines .col-md-2 .caro-button { margin: 8px 3px; }
	#center_section { padding: 5px; }
	#center_section h3 { font-size: 20px; }
}

@media (max-width:800px) {
	header .sdark { display: none!important; }
	header .nav_acc { left: 0; }
	header .top_fix .logo img { margin-left: 0px; height: 50px; }
	header .top_fix .top_bar { display: none; }
	#acc_menu:checked ~ .nav_acc { left: calc(100vw - 20%); }
	#top_slider { margin: 0px; }
	#top_slider .carousel-caption { display: none; }
	.nav_home { margin-left: 5px; }
	.nav_acc #search_box { width: 40%; }
	#main_nav { left: 3%; right: 3%; }
	#center_section, #center_marq, #center_left, #center_tiles { height: auto!important; max-height: auto; }
	#center_section { height: auto; }
}

@media (max-width: 740px) and (orientation: landscape) {
}

@media (max-width: 600px) {
	main .caro-button { display: none; opacity: 0; visibility: hidden; }
}

@media (max-width: 480px) {
	#top_slider { max-height: 200px; }
	#acc_menu:checked ~ .nav_acc { left: 60vw; }
	#center_left ul { padding-left: 20%; }
}


/*End Of File*/