
/* Custom CSS Stylesheet */


html, body {
	background: #3d4347;
	color: #ffffff;
	font-family: 'Fira Mono', monospace;
}


/* Header */
.org {
	position: fixed;
	top: 12px;
	left: 30px;
	font-size: 2.5rem;
	line-height: 65px;
	z-index: 101;
}
.org:before { content: "[ionation]"; }
.collapse-header {
	position: fixed;
	z-index: 100;
}
.collapse-header .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	opacity: 0;
	background: rgba(41, 207, 245, 0.6);
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	overflow: visible;
}
.collapse-header .menu .collapse-nav {
	display: inline-flex;
	line-height: 65px;
	padding-bottom: 5px;
	margin-left: 30vw;
}
.collapse-header .menu .collapse-nav a {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-weight: 700;
	margin-left: 50px;
	margin-top: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	transition: all 0.25s ease;
}
.collapse-header .menu .collapse-nav a:hover {
	border-bottom: 2px solid white;
	cursor: pointer;
}
.collapse-header .menu.open {
	width: 100%;
	opacity: 1;
}
.collapse-header .button-container {
	position: fixed;
	width: 30px;
	height: 22px;
	right: 80px;
	top: 40px;
	cursor: pointer;
}
.collapse-header .button-container span {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #aaa;
	transition: all 0.3s ease;
}
.button-container { cursor: context-menu; }
.button-container .top { top: 0px; }
.button-container .middle { top: 10px; }
.button-container .bottom { top: 20px; }
.button-container:hover .top {	top: 2px; }
.button-container:hover .bottom { top: 18px; }

.button-container.active .top { background: white; transform: translate(0px, 10px) rotate(-405deg); }
.button-container.active .middle {	opacity: 0; }
.button-container.active .bottom { background: white; transform: translate(0px, -10px) rotate(-495deg); }
.button-container.active:hover .top { top: 0px; }
.button-container.active:hover .bottom { top: 20px; }


/* Speed Dial Share Button */
.speed-dial {
	text-align: center;
	display: inline-block;
	position: fixed;
	z-index: 100;
	left: 30px;
	bottom: 20px;
}
.speed-dial a,
.speed-dial a:hover,
.speed-dial a:active,
.speed-dial a:visited,
.speed-dial a:focus {
	color: #fafafa;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.speed-dial .toggle {
	display: inline-block;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	font-size: 32px;
	line-height: 75px;
	margin: 8px 0;
	z-index: 100;
}
.speed-dial:hover .dials a { animation: pop-in .3s ease both; }
.speed-dial .dials {
	margin: 0;
	padding: 0;
	list-style: none;
}
.speed-dial .dials a {
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	margin: 8px 0;
	transform: scale(0);
	animation: pop-out .3s ease both;
}
.speed-dial .dials a.pop-in { animation: pop-in .3s ease both; }
.speed-dial .dials li:nth-child(3) a { animation-delay: 0s; }
.speed-dial .dials li:nth-child(2) a { animation-delay: 0.1s; }
.speed-dial .dials li:nth-child(1) a { animation-delay: 0.2s; }
.speed-dial .dials li:nth-child(0) a { animation-delay: 0.3s; }

.bg-share {
	background-color: rgba(31,34,41,.5);
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.bg-twitter { background-color: #2daae2; }
.bg-facebook { background-color: #3c5b9b; }
.bg-linkedin { background-color: #f73e29; }

@keyframes pop-in {0% {transform: scale(0);} 100% {transform: scale(1);}}
@keyframes pop-out {0% {transform: scale(1);} 100% {transform: scale(0);}}



/* Main */
main {
	margin-top: 8rem;
	color: #111;
}














