/* Developed By: Dreamcare Developers
 * url: https://www.facebook.com/dreamcaredevelopers/
*/

/* reset */
@media{
	* {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	}
	:root {
	  font-size: calc(1vw + 1vh + .5vmin);
	}
	html {
		width: 100%;
		overflow-x: hidden;
	}
	body {
		/*font-family: 'Roboto Condensed', sans-serif;*/
		font-family: 'Sansita', sans-serif;
		background: #fff;
		line-height: 1.5;
	}
	.no_all { padding: 0; margin: 0; }
	.no_pad { padding: 0; }
	.no_marg { margin: 0; }
	
	a:hover,a:active { outline: none; }
	button:focus{ outline:none; }
	ul { list-style: none; }
	a[href^="http"]:empty::before {
	  content: attr(href);
	}
}

/* common */
@media {
	.decore {
		position: absolute;
		left: 50%;
		margin-left: -61px;
		width: 122px;
		height: 21px;
		background: url(../img/sprite.png) 0 -77px;
	}
	.bk_rest button {
		font-size: 20px;
		border-radius: 5px;
		padding: 3px 8px;
		margin-top: 3px;
		border: 1px solid #D2BD7F;
		box-shadow: 0 0 3px 3px rgba(10,10,10,0.1);
		background-color: #D2BD7F;
		width: 130px;
		transition: all 0.5s ease-in-out;
		
	}
	.bk_rest button:hover, .bk_frm button:focus {
		transition: all 0.5s ease-in-out;
		background-color: transparent;
		color: #353535;
		width: 150px;
		border: 1px solid #D2BD7F;
	}
	p {
		font-size: 16px;
		line-height: 1.3em;
		font-weight: 500;
	}
}

/* header */
@media {
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
	header .navbar-default {
		background-image: url(../images/pattern.jpg) no-repeat center;
		border: none;
		box-shadow: 0 1px 5px 3px rgba(255,255,255,.6);
		transition: all 0.3s ease-in-out;
	}
	header .nav { text-transform: uppercase; }
	header .navbar { margin-bottom: 0; }
	
	header .navbar-brand {
		position: absolute;
		left: 0;
		right: 0;
		top: 35px;
		width: 100%;
		text-align: center;
		display: block;
	}
	header img.logo {
		background: rgba(250,250,250,1);
		width: 150px;
		height: auto;
		padding: 0 2px 4px;
		margin: -3.5em auto;
		z-index: 999;
		border-bottom: 1px solid #fff;
		border-bottom-left-radius: 30%;
		border-bottom-right-radius: 30%;
	}
	
	header .navbar-toggle {
		position: relative;
		float: left !important;
		padding: 5px;
		margin-top: 8px 0;
		margin-left: 15px !important;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		z-index: 999;
	}
	header ul.nav li {
		padding: -1px 20px;
		font-size: 18px;
		color: #353535;
	}
	header ul.navbar-right li:before,
	header ul.navbar-left li:before {
		content: "\2022";
		font-weight: bold;
		position: absolute;
		top: 0.65em;
		right: 0;
	}
	header ul.navbar-left li:before { left:0; }
}

/* home */
@media{
	#home .cover_im {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	#home .container-fluid {
		margin-top: 10vh;
		height: 95vh;
	}

	#home .intro_text h1, .intro_text h3 {
		background-color: rgba(20,20,20,.3);
		color: #DCBB5A;
		margin: 0;
		padding: 10px;
		border-radius: 5px;
		text-shadow: 2px 5px 5px rgba(2,2,2,.3);
	}
	#home .intro_text span { color: yellow; }
	#home .intro_text h1 {
		text-transform: uppercase;
		font-weight: bolder;
		border-bottom: none;
		margin-top: 4vh;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	#home .intro_text h3 {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.bk_frm {
		margin-top: 10px;
		width: 100%;
		height: 100%;
		border: none;
		color: #D2BD7F;
		background-color: rgba(24,24,24,0.3);
	}
	.bk_frm h2 { margin: 8px; }
	.bk_frm input {
		background-color: rgba(20,20,20,0.6);
		border-radius: 5px;
		padding: 10px;
		width: 95%;
		margin: 3px;
		min-height: 40px;
		border: none;
		color: #fff;
		transition: all 0.3s ease-in-out;
	}
	.bk_frm input:focus {
		outline: none;
		transition: all 0.3s ease-in-out;
		background-color: rgba(20,20,20,0.6);
	}
	.bk_frm input#arr_date, .bk_frm input#dep_date, .bk_frm input[type="number"] { width: 46%; }

	.bk_frm button {
		font-size: 20px;
		border-radius: 5px;
		padding: 2px 8px;
		margin: 15px 0;
		width: 50%;
		border: 1px solid #444;
		background-color: #d2bd7f;
		color: #353535;
		box-shadow: 0 0 3px 3px rgba(10,10,10,.1);
		transition: all 0.3s ease-in-out;
	}
	.bk_frm button:hover, .bk_frm button:focus {
		width: 55%;
		color: #444;
		transition: all 0.3s ease-in-out;
	}
}

/* rooms */
@media{
	#rooms{
		position: relative;
		background-color: #F9F6F1;
		background: url(../images/pattern.jpg) fixed;
		width: 100%;
		height: auto;
		padding: 20px;
		box-shadow: 0 2px 10px 6px rgba(20,20,20,.3);
	}
	.shad{
		box-shadow: 0 0 5px 3px rgba(10,10,10,0.4);
	}
	.room_pad { padding: 10px; }

	#rooms .card{
		color: #D2BD7F;		
		overflow: hidden;
	}
/*	#rooms .card:first-child { height: 39.35vh; }*/
	.tile_main { height: 30vh; }
	.tile_main img {
		 width: 100%;
		 z-index: 0;
		 transition: all 0.5s ease-in-out;
	}
	.tile_main:hover img {
		transform: scale(1.1);
		transition: all 0.5s ease-in-out;
	}
	.text-content {
		padding: 0 10px;
		background-color: #353535;
		z-index: 9;
	}
	#rooms ul li {
		margin: 0 10px;
		display: inline;
	}
	#rooms h3 {
		font-weight: bold;
		width: 100%;
		height: 45px;
		padding: 10px 0px;
		z-index: 9;
	}

	.float-txt { left: 20px; }
	.float-txt, .float button{
		position: absolute;
		top: 10px;
		background-color: rgba(53,53,53,0.8);
		height: 30px;
		padding: 3px;
		font-size: 16px;
		width: 80px;
		border-radius: 3px;
		color: #D2BD7F;
	}
	.float button {
		right: 18px;
		width: 120px;
		border: none;
		transition: all 0.3s ease-in-out;
	}
	.float button:hover {
		background-color: #s353535;
		transition: all 0.3s ease-in-out;
	}
		
}

/* extra_main */
@media{
	 .extra_main {
		position: relative;
		background-color: #F9F6F1;
		background: url(../images/pattern.jpg) fixed;
		width: 100%;
		height: auto;
		padding: 40px 50px;
	}
	.extra_main img{
		width: 100%;
		height: auto;
		box-shadow: 3px 3px 38px 10px rgba(0,0,0,.3);
	}
	
}

/* Features */
@media{
	#features {
		position: relative;
		background: #353535;
		color: #D2BD7F;
		width: 100%;
		padding-bottom: 20px;
		box-shadow: 0 0 10px 6px rgba(20,20,20,.4) inset;
	}
	#features h3{
		margin: 0 0 5px;
	}
}

/* footer */
@media {
	footer {
		position: relative;
		background: #353535;
		color: #ccc;
		border: none;
	}
	
	.footer_main {
		background: #454545;
	}

	.copyright h5 { font-weight: 0; letter-spacing: 1px; }
	.copyright .ft-social {
		padding-top: 6px;
		text-justify: distribute;
	}
	.copyright .ft-social a { margin: 0 10px; }
	.copyright .ft-social span.fa-facebook-square { color: #3b5998; }
	.copyright .ft-social span.fa-twitter-square { color: #00aced; }
	.copyright .ft-social span.fa-google-plus-square { color: rgba(225,91,93,1.00) }
	.copyright .col-md-4 a { color: #ddd; }
	.copyright span.fa-heart {
		font-size: medium;
		color: rgba(180,22,25,1.00);
		-webkit-animation: heartbeat 1s infinite ease-in-out;
		   -moz-animation: heartbeat 1s infinite ease-in-out;
			-ms-animation: heartbeat 1s infinite ease-in-out;
				animation: heartbeat 1s infinite ease-in-out;
	}
}


@keyframes heartbeat {0%{transform:scale(.75)}20%{transform:scale(1)}40%{transform:scale(.75)}60%{transform:scale(1)}100%,80%{transform:scale(.75)}}